# Mount on and write to /proc/sys/fs/binfmt_misc.
allow init proc:dir { mounton write };
allow init binfmt_miscfs:file w_file_perms;
allow init tmpfs:lnk_file create_file_perms;
allow init property_socket:sock_file write;
allow init sepfs:file write;
