# Allow system server factory file access
allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;
allow system_server graphics_device:dir search;
allow system_server graphics_device:chr_file r_file_perms;
